nav {
    height: 60px;
}

.link {
    height: 60px;
    font-size: medium;
}

.title {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: large;

}